# Diabetes Prediction using Machine Learning

# Problem Statement:

To build a system that can predict if a person has diabetes or not with the help of Machine Learning. The project is done in Python. Support vector model is used for prediction. The system is built in such a way that if we provide the input data like the glucose,blood pressure level,BMI,age,etc, it predicts if the person is diabetic or not diabetic.

# Data Collection and Analysis

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")
import pandas as pd
import numpy as np

In [2]:
#loading the diabetes dataset into pandas dataframe
A = pd.read_csv("C:/Users/Dell/Downloads/diabetes.csv")

In [3]:
A.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
#number of rows and columns
A.shape

(768, 9)

In [5]:
#to understand statistical features of the data
A.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
A['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 -- Non-Diabetic

1 -- Diabetic

Analysis - The proportion of Non-diabetic cases are more than the diabetic cases in this dataset

In [8]:
A.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# Define X and Y

In [9]:
#separating data and labels
X = A.drop(labels=["Outcome"],axis=1)
Y = A[["Outcome"]]

In [10]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [11]:
print(Y)

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

# Data Standardization

In [12]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(X)
standardized_data = ss.transform(X)

In [13]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [15]:
X = standardized_data #considering standardized data for further analysis
Y = A[["Outcome"]]

In [16]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

# Train Test Split

In [17]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size = 0.2, stratify = Y,random_state=31)

In [18]:
print(X.shape,xtrain.shape,xtest.shape)

(768, 8) (614, 8) (154, 8)

# Training the model

# Support Vector Machine

In [19]:
from sklearn import svm
classifier = svm.SVC(kernel = 'linear')

In [20]:
#training the support vector machine classifier
model = classifier.fit(xtrain,ytrain)

# Model Evaluation

# Accuracy Score

In [22]:
#accuracy score on the training data
from sklearn.metrics import accuracy_score
xtrain_pred = classifier.predict(xtrain)
training_data_accuracy = accuracy_score(xtrain_pred,ytrain)

In [23]:
print("Accuracy score of the training data: ",training_data_accuracy)

Accuracy score of the training data:  0.7768729641693811

In [24]:
#accuracy score on the test data
xtest_pred = classifier.predict(xtest)
test_data_accuracy = accuracy_score(xtest_pred,ytest)

In [25]:
print("Accuracy score of the test data: ",test_data_accuracy)

Accuracy score of the test data:  0.7727272727272727

# Making a Predictive System

By making a Predictive System, we can predict if the person is diabetic or non-diabetic by giving the input data (medical information) to the sysytem.

In [26]:
input_data = (4,110,92,0,0,37.6,0.191,30)

#changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

#reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

#standardize the input_data
std_data = ss.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)


if(prediction[0] == 0):
    print("The person is not diabetic")
else:
    print("The person is diabetic")

[[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]
[0]
The person is not diabetic

# Trying for diabetic case

In [28]:
input_data = (13,129,0,30,0,39.9,0.569,44)

#changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

#reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

#standardize the input_data
std_data = ss.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)


if(prediction[0] == 0):
    print("The person is not diabetic")
else:
    print("The person is diabetic")

[[ 2.7187125   0.25367803 -3.57259724  0.59362962 -0.69289057  1.00360402
   0.29332509  0.91546889]]
[1]
The person is diabetic